#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_topazd += debian/examples/*
DEB_INSTALL_MANPAGES_topazd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix topazd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f topaz-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake topaz-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_topaz
	src/test_topaz

# Ensure wrapper is set executable
binary-post-install/topazd:
	chmod +x $(cdbs_curdestdir)usr/bin/topazd
binary-post-install/topaz-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/topaz-qt
